// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPPORTED_PLATFORMS = iphoneos macosx appletvos watchos iphonesimulator appletvsimulator watchsimulator

SWIFT_VERSION = 5.0

IPHONEOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.12
TVOS_DEPLOYMENT_TARGET = 10.0
WATCHOS_DEPLOYMENT_TARGET = 3.0
